<div class="header-container">

  <div class="header-bar">
    <div class="header-bar-title" (click)="navigate('heroes', 1)">
      <img width="200" src="assets/img/marvel-logo.svg" alt="">
    </div>

    @if(acceptContent()) {
      <div class="search-input-box">
        <input type="text" [formControl]="searchControl" placeholder="Search hero...">
      </div>
    }
  </div>

  @if(acceptContent()) {
    <div class="add-hero" (click)="navigate('abm-hero')">
      <div class="add-hero-btn">
        <div class="separator"></div>
        <span>
          Add hero
        </span>
      </div>
    </div>
  }
</div>
