<div class="header-container">

  <div class="header-bar">
    <div class="header-bar-title" (click)="navigate('heroes')">
      <img width="200" src="assets/img/marvel-logo.svg" alt="">
    </div>

    <div class="search-input-box">
      <input type="text" placeholder="Search hero...">
    </div>
  </div>

  <div class="add-hero" (click)="navigate('add-hero')">
    <div class="add-hero-btn">
      <div class="separator"></div>
      <span>
        Add hero
      </span>
    </div>
  </div>
</div>
