<div class="hero-card-container">
  <div class="hero-card-box">
    <div class="hero-card-content">
      <div class="hero-card-description">
        <span class="alias">{{hero.alias}}</span>
        <span class="name">{{hero.name}}</span>
        <span class="powers">{{hero.powers}}</span>
        <span class="team">{{hero.team}}</span>
      </div>
      <div class="separator"></div>
    </div>
    <div class="hero-card-image">
      <img src="{{hero.img !== '' ? hero.img : 'assets/img/hero-default.png'}}" alt="Hero Image">
    </div>
  </div>
</div>
